<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Project</title>
</head>
<body>
    <h1>Welcome to Django Project</h1>
    <h2>Hello, {{fname}} {{lname}}</h2>

    <h3>Enter text for Remove Puncutuation</h3>
    <form action="/analysisText" method="get">
        <textarea name="text" id="" cols="30" rows="10" spellcheck="false" style="margin: 0px; height: 222px; width: 816px;" required></textarea><br><br>
        <input type="checkbox" name="removepunc">Remove Puncutuation<br><br>
        <input type="checkbox" name="upperCase">Upper Case?<br><br>
        <input type="submit" value="Analys Text">
    </form>
</body>
</html>